@import './variables.scss';

html,
body {
  // overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 13px;
}
p {
  text-indent: 0px !important;
}

i {
  font-style: inherit;
}

a {
  color: $color-primary;
  text-decoration: none;
  transition: none;
  &:hover {
    color: $color-primary-hover;
  }

  &.hover:hover {
    text-decoration: underline !important;
  }
}

.rel {
  position: relative;
}

.abs {
  position: absolute;
}

.nowrap {
  white-space: nowrap;
}

.m4 {
  margin: 4px !important;
}

.ml4 {
  margin-left: 4px !important;
}

.mt4 {
  margin-top: 4px !important;
}

.mr4 {
  margin-right: 4px !important;
}

.ml8 {
  margin-left: 8px !important;
}

.mr8 {
  margin-right: 8px !important;
}
.mt8 {
  margin-top: 8px !important;
}
.mh8 {
  margin-left: 8px !important;
  margin-right: 8px !important;
}
.mr16 {
  margin-right: 16px !important;
}

.mt16 {
  margin-top: 16px !important;
}

.mb16 {
  margin-bottom: 16px;
}

.mt64 {
  margin-top: 64px !important;
}
.ph8 {
  padding-left: 8px !important;
  padding-right: 8px !important;
}
.pb12 {
  padding-bottom: 8px !important;
}
.ph15 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.pl16 {
  padding-left: 16px !important;
}
.ph16 {
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.pw10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.pt10 {
  padding-top: 10px !important;
}

.flex {
  display: flex;

  & > * {
    flex-shrink: 0;
  }

  & > .full {
    flex-grow: 1;
  }
}

.gray {
  color: #bfbfbf !important;
}

.text-left {
  text-align: left;
}

.border-right {
  border-right: 1px solid $color-sub-border;
}

.block {
  display: block !important;
}

.hidden {
  display: none !important;
}

.inline {
  display: inline-block !important;
}

.primary {
  color: $color-primary;
}

.warning {
  color: $color-warning;
}

.center {
  text-align: center;
  margin: auto;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar {
  width: 6px;
  height: 10px;
  background: transparent;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

/*滚动条里面小方块*/
::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #e7e7e7;
}

::-webkit-scrollbar-track {
  background-color: transparent !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type='number'] {
  -moz-appearance: textfield;
}
//标点符号
.punctuation {
  color: #999999;
}

//标签，函数名，
.tag,
.function,
.property,
.number {
  color: #f81d22;
}

//属性名
.html-attr-name,
.javascript-attr-value {
  color: #0b8235;
}

//属性值
.html-attr-value {
  color: #008dff;
}

//变量
.variable {
  color: #000;
}
//注释
.comment {
  color: #708090;
}
.language-html {
  padding: 20px;
  width: 100%;
  background: #f8f8f8;
}

.danger {
  color: #ff4d4f;
}

table {
  border-collapse: collapse;
  width: 100%;
  background-color: #fff;
  font-size: 14px;
  margin-bottom: 45px;
  line-height: 1.5em;
}

th,
td {
  text-align: left;
  color: #606266;
  font-weight: 400;
  border-bottom: 1px solid #dcdfe6;
  padding: 15px;
  max-width: 250px;
}
.monaco-editor.vs-dark .token {
  color: #000;
}
